#main {
    padding: 32px 64px;
}

.pheader {
    color: #5f6368;
    font-size: 30px;
}

img {
    width: 200px;
    height: 200px;
    grid-row: 1/4;
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.title {
    font-size: 36px;
    color: #444444;
    grid-column: 2/7;
    margin: 0px;
    margin-left: 48px;
}

.subtitle {
    font-size: 24px;
    color: #5f6368;
    grid-column: 2/7;
    margin: 0px;
    margin-left: 48px;
}

table {
    border-spacing: 0px;
    width: 70%;
    color: #444444;
    margin-bottom: 100px;
}

i {
    color: #5f6368;
}

i:hover {
    color: black;
}

.tablehead td {
    border-top: 1px solid #27cbed;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #27cbed;
    font-size: 20px;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: -75px;
    left: 0px;
    background-color: rgba(0,0,0,0.15);
    height: 75px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    justify-items: center;
    align-items: center;
    transition: height 0.3s;
}

#footer i {
    font-size: 36px;
}